body {
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
}

h2 {
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
}

img.icon {
  width: 25vw;
}

div.search input[type="text"] {
  font-size: 16px;
}

input:focus {
  outline: none;
}

div.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  position: relative;
  gap: 10px;
  width: 60%;
  margin: auto;
  padding-bottom: 50px;
}

div.search-bar {
  display: flex;
  justify-content: center;
}

div.search input {
  border: 1px solid black;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 50px;
  width: 60vw;
  max-width: 600px;
  margin: 0;
  box-sizing: border-box;
  padding-left: 15px;
}

div.search button {
  border: 1px solid black;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 50px;
  margin-left: -1px;
}

div.search-box {
  width: 75%;
  position: absolute;
  top: 75px;
  background-color: white;
  border-radius: 15px;
  padding-right: 4px;
  border: 1px solid black;
}

div.search-box.empty {
  border: none;
  background-color: transparent;
  border: none;
}

div.search-box > ul > li {
  min-height: 30px;
  display: flex;
  align-items: center;
  padding: 2px;
  padding-left: 10px;
  cursor: default;
}

div.search-box > ul > li > a {
  width: 100%;
  text-align: left;
  color: black;
}

div.search-box > ul > li:hover {
  background-color: rgb(193, 193, 193);
}

div.search-box ul {
  padding: 10px;
  border-radius: 15px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-content: stretch;
  max-height: 150px;
  overflow: scroll;
}

div.search-box ul:empty {
  visibility: hidden;
}

form#city-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100vw;
}

div.features {
  width: 60%;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 40px;
}

  div.feature {
    display: grid;
    justify-items: center;
    text-align: center;
    grid-auto-flow: row;
    border: 1px black solid;
    border-radius: 50px;
    height: 175px;
    width: 175px;
    position: relative;
  }

div.feature p{
  max-width: 60%;
  font-size: 1rem;
}

div.feature img {
  width: 40px;
  align-self: self-end;
  justify-self: center;
}


@media (max-width: 1024px) {
  img.icon {
    width: 65vw;
  }

  div.search {
    margin: auto;
    width: 100vw;
    max-width: 600px;
    padding-bottom: 20px;
    justify-self: center;
  }


  div.features {
    position: relative;
    width: 60%;
    display: grid;
    flex-direction: column;
    grid-auto-flow: row;
    gap: 20px;
    justify-content: stretch;
  }

  div.feature {
    grid-auto-flow: column;
    grid-template-columns: 65px auto;
    height: 70px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-items: start;
  }

  div.feature img {
    width: 35px;
    align-self: center;
    justify-self: center;
  }
  
  img.icon {
    margin-bottom: 10px;
  }
  
  div.feature p{
    max-width: 80%;
    font-size: 1rem;
    text-align: left;
    line-height: 100%;
  }
}

@media (max-width: 420px) {
  div.features {
    width: 80%;
  }
}

@media (max-width: 640px) {
  div.feature {
    height: 50px;
  }

  div.feature img {
    width: 30px;
  }

}