

h2 {
  margin: 0;
}

img.icon {
  width: 25vw;
  margin-bottom: 30px;
}


input[type="text"] {
  font-size: 16px;
}

input:focus {
  outline: none;
}

div.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  position: relative;
  gap: 10px;
}

div.search-bar {
  display: flex;
  justify-content: center;
}

div.search input {
  border: 1px solid black;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 50px;
  width: 60vw;
  max-width: 600px;
  margin: 0;
  box-sizing: border-box;
  padding-left: 15px;
}

div.search button {
  border: 1px solid black;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 50px;
  margin-left: -1px;
}

div.search-box {
  width: 100%;
}

div.search-box.empty {
  border: none;
  background-color: transparent;
}

div.search-box > ul > li {
  min-height: 30px;
  display: flex;
  align-items: center;
  padding: 2px;
  padding-left: 10px;
  cursor: default;
}

div.search-box > ul > li:hover {
  background-color: rgb(193, 193, 193);
}

div.search-box ul {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-content: stretch;
}

div.search-box ul:empty {
  visibility: hidden;
}

div.features {
  width: 80vw;
  background-color: green;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

  div.feature {
    display: grid;
    grid-auto-flow: row;
    border: 1px black solid;
    height: 200px;
    width: 200px;
  }


@media (max-width: 640px) {
  img.icon {
    width: 65vw;
  }

  div.search {
    margin: auto;
    width: 75vw;
    max-width: 600px;
  }

  div.features {
    width: 80%;
    margin: auto;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    justify-content: stretch;
    justify-items: stretch;
    gap: 20px;
  }

  div.feature {
    grid-auto-flow: column;
    height: 50px;
    width: 100%;
  }
  
  img.icon {
    margin-bottom: 10px;
  }
}
